body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0c8add, #117450);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgb(247, 225, 194);
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.heading {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #473535;
}

input,select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

input:focus,select:focus {
  border-color: #5071d6;
  box-shadow: 0 0 5px rgba(0, 2, 7, 0.5);
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #5f7cd4;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2e59d9;
}

#result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #1cc88a;
}